* {
  background-color: #28262E;
}

header {
  padding: 20px;
  text-align: center;
  border-bottom: 5px solid rgba(0, 0, 0, 0.219);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 65px;
  letter-spacing: 4px;
  color: #9d34b7;
}

img {
  width: 80px;
  left: 0;
}
